{{ define "main" }}
{{ partial "page-title.html" . }}

<!-- Speakers Section -->
<section class="speakers-section-three" id="speakers-section">
  <div class="container">
    <div class="lead my-3">{{ .Content }}</div>
    <div class="speaker-strip">
      {{ range where .Pages.ByTitle ".Params.explorer-day" true }}
      <div class="speaker-item text-center"> 
        <div class="headshot mb-2">
          <img src="{{ .Params.Image | relURL }}" alt="" class="img-fluid speaker">          
          <a href="{{ .Permalink }}">
            <div class=""></div>
          </a>
            
        </div>
        <div class="info">
          <h4 class="name"><a href="{{.Permalink | relURL }}">{{ .Title }}</a></h4>
          <p class="designation">{{ .Params.Designation}}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- End Speakers Section -->

{{ end }}