{{ $data := index .Site.Data }}
{{ with $data.homepage.cta }}
    <section class="call-to-action">
        <div class="container">
            <div class="content-box">
                <h2>{{ .message }}
                </h2>
                <!--<div class="btn-box">
                    <a href="{{ .link }}" target="_blank" class="theme-btn btn-style-one"><span
                            class="btn-title">{{ .label }}</span></a>
                </div>-->
            </div>
        </div>
    </section>
{{ end }}    