

<footer class="section footer" style="background-color: rgba(0, 0, 0, 0.911);">
	<div class="container">
		<div class="footer-strip" >
			<div>
				<h3 class="mb-3" style="color: white;">{{ .Site.Title | markdownify }}</h3>
				<ul class="list-inline" >
					<a style="color: white;">Data Day(s) es otro fantástico evento de <a href="http://sg.com.mx">Software Guru</a>
				</ul>
			</div>			
			<div>
				<h5 style="color: white;">Conoce más</h5>
				<ul class="footer_links">
					<li ><a href="/datadays/about-us/" style="color: white;">Acerca de</a></li>
					<li ><a href="/datadays/patrocinadores-y-expositores/" style="color: white;">Patrocinadores y Expositores</a></li>
					<li ><a href="mailto:eventos@sg.com.mx" style="color: white;">Contacto</a></li>	
				</ul>
			</div>
			<div>
				<h5 style="color: white;">Ediciones anteriores</h5>
				<ul class="footer_links">
					<li ><a href="/datadays/sessions/2021/" style="color: white;">Data Day(s) Virtual 2021</a></li>
					<li><a href="/datadays/sessions/2020/" style="color: white;">Data Day(s) Virtual 2020</li></a></li>
					<li><a href="/datadays/sessions/2019mty/" style="color: white;">Data Day Monterrey 2019</a></li>
					<li><a href="/datadays/sessions/2019cdmx/" style="color: white;">Data Day CDMX 2019</a></li>
					<li><a href="/datadays/sessions/2018/" style="color: white;">Data Day 2018</a></li>
					<li><a href="/datadays/sessions/2017/" style="color: white;">Data Day 2017</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

